.sidebar{
    flex: 0.35;
    height: 100vh;
    display:flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-right: 1px solid lightgray;
}
.sidebar_header {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
}
.sidebar_avatar {
    cursor: pointer;
    margin: 10px;
}
.sidebar_input{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #e1e1e1;
    color:grey;
    border-radius: 5px;
    width:100%;
}
.sidebar_input > input {
    border: none;
    background: transparent;
    /* background-color: #e1e1e1; */
    outline:none;
    color: grey;
}
.sidebar_chats {
    overflow: scroll;
}

/* hide scrollbar for chrome, safari and opera */
.sidebar_chats::-webkit-scrollbar{
    display: none;
}

/* hide scrollbar for IE, Edge and firefox */
.sidebar_chats {
    -ms-overflow-style:none; /*IE and edge*/
    scrollbar-width: none; /*firefox */
}